.inria-sans-light {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .inria-sans-regular {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inria-sans-bold {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inria-sans-light-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .inria-sans-regular-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .inria-sans-bold-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

/* Styles */ 
header{
    background-color: black;
    color: aliceblue;
    align-items: center; 
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: -8px;
    border-bottom: 12px solid #333;
}
header #Login{
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 70px;
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
}
header #About{
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 170px;
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
}
header #Contact{
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 300px;
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
}
header button:hover {
    color: #ccc; 
}
head{
    background-color: black;
}
#title h1{
    top: 10px;
    font-size: 120px;
    position: relative;
    text-align: center;
    color: azure;
    font-family:"Inria Sans", serif;
    font-weight: 1000;
    font-style: normal;
}
#title{
    background-color: rgb(98, 98, 98);
    padding: 5rem 0; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: -8px;
    text-align: center;
}