.inria-sans-light {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .inria-sans-regular {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inria-sans-bold {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inria-sans-light-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .inria-sans-regular-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .inria-sans-bold-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

/* Styles */ 
header{
    background-color: black;
    color: aliceblue;
    align-items: center; 
    display: flex;
    justify-content: flex-end;
    /* toggle + padding + extra */
    min-height: calc(40px + 20px + 5px); 
    padding: 10px;
    margin: -8px;
    border-bottom: 10px solid #333;
}
header > .buttons-wrap {
  margin-left: 50px;
}
header button {
    font-size: 1rem;
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
}
header button:hover {
    color: #ccc; 
}
head{
    background-color: black;
}
#title h1{
    top: flex;
    font-size: 120px;
    position: relative;
    text-align: center;
    color: rgb(226, 237, 237);
    /*color: rgb(8, 8, 8);*/
    font-family:"Inria Sans", serif;
    font-weight: 1000;
    font-style: normal;
}
#title{
    background-color: rgb(98, 98, 98);
    background-image: linear-gradient(to bottom, rgb(19, 19, 19), rgb(238, 236, 236));
    /*background-color: rgb(217, 217, 217);*/
    /*background-color: rgb(119,136,153);*/
    padding: 7rem 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: -8px;
    text-align: center;
}

#Menu{
  background-image: url('Images/Menu.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  top: 10px;
  left: 15px;
  position: absolute;
  cursor: pointer;
}
#title h2{
  top: 420px;
  font-size: 60px;
  align-items: center;
  justify-content: center;
  font-family:"Inria Sans", serif;
  right: center;
  position: absolute;
  color: rgb(53, 52, 48);
  font-weight: 300;
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 3px solid; 
  animation: typing 7s steps(30, end), blink-caret 0.5s step-end infinite;  
}

/* Animación de escritura */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Efecto de parpadeo del "cursor" */
@keyframes blink-caret {
  50% { border-color: transparent; }
}
