header{
    background-color: black;
    color: aliceblue;
    align-items: center; 
    display: flex;
    justify-content: center;
    padding: 6rem;
    margin: -8px;
}
header h1{
    font-size: 50px;
}
head{
    background-color: black;
}